.skillsContainer {
  background-color: #12222e;
  height: auto;
  min-height: 800px;
  text-align: center;
  color: white;
}
.skillInfo {
  width: 70%;
  text-align: center;
  align-items: center;
  /* left: 250px; */
  margin-top: 20px;
}
.skillP {
  font-size: x-large;
}
.focusSkill > h4 {
  font-size: xx-large;
}
hr {
  border: 3px solid white;
}
.focusSkill > h6 {
  font-size: large;
  margin-bottom: 20px;
}
.prog {
  margin-bottom: 10px;
  height: 40px;
}
